<dev class="w-full flex-grow">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/2  pr-0 lg:pr-2">
            <div class="leading-loose">
                <form class="px-10 bg-white rounded shadow-xl">
                    <div class="flex-grow>
                        <label class=" block text-sm text-gray-600 " for=" name ">Title</label>
                        <input class=" w-full px-5 py-1 text-gray-700 bg-gray-200 rounded " id=" title " name=" title " type=" text " required=" " placeholder=" Your Title " aria-label=" title ">
                    </div>
                    <div class=" mt-2 ">
                        <label class=" block text-sm text-gray-600 " for=" message ">Content</label>
                        <textarea class=" w-full px-5 py-2 text-gray-700 bg-gray-200 rounded " id=" content " name=" content " rows=" 2 " required=" " placeholder=" Your Content.. " aria-label=" content "></textarea>
                    </div>
                    <div class=" mt-2 "> <label class=" block text-sm text-gray-600 " for=" name ">image</label>
                        <input class=" w-full px-5 py-1 text-gray-700 bg-gray-200 rounded " id=" title " name=" title " type="file " required=" " placeholder=" Your image " aria-label=" title ">
                    </div>

                    <!-- <div class=" mt-2 ">
                        <label for=" image " class=" flex flex-col w-full h-32 border-4 border-dashed hover:bg-gray-100 hover:border-gray-300 ">
                            <div class=" flex flex-col items-center justify-center pt-7 ">
                                <svg xmlns=" http://www.w3.org/2000/svg "
                                    class=" w-12 h-12 text-gray-400 group-hover:text-gray-600 " viewBox=" 0 0 20 20 "
                                    fill=" currentColor ">
                                    <path fill-rule=" evenodd "
                                        d=" M4 3a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V5a2 2 0 00-2-2H4zm12 12H4l4-8 3 6 2-4 3 6z "
                                        clip-rule=" evenodd " />
                                </svg>
                                <p class=" pt-1 text-sm tracking-wider text-gray-400 group-hover:text-gray-600 ">Select a photo</p>
                            </div>
                            <input id=" image " type=" file " class=" opacity-0 " />
                        </label>
                    </div> -->
                    <div class=" py-6 ">
                        <button class=" px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded " type=" submit ">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</dev>