<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/style.css" />
    <title>Mini Blog</title>
  </head>
  <body class="flex flex-col h-screen bg-white text-gray-800 break-words">
    <%- include('header') %>
    <main class="mx-7 lg:mx-6 mt-32 flex-grow">
      <div class="max-w-5xl mx-auto"><%- body%></div>
    </main>
    <%- include('footer') %>
  </body>
</html>
